@use 'base';

footer{
    background-color: base.$fondo;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;

    .contact{
        display: grid;
        grid-template-columns: 1fr;
        padding: base.$tam-pad;
        .box{
            background-color: base.$light;
            width: 100%;
            border-radius: 50px;
            .t4{
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: base.$fondo;
                margin: 10px;
            }
            .contact-info{
                @include base.flex-column();
                align-items: center;
    
                span{
                    padding: base.$tam-pad;
                    margin: 10px;
                    color: white;
                    font-size: 20px;
                    font-family: base.$fuente-general;
                    i{
                        color: base.$fondo;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .derechos{
        background-color: black;
        grid-column: 1/-1;
        text-align: center;
        padding: 1.5rem;
        border-top: 1px solid base.$light;

        h4{
            color: white;
            font-size: 1.5rem;
            font-family: base.$fuente-titulo;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: map-get($map: base.$puntos, $key: 'medium')){
    footer{
        grid-template-rows: auto;
    }
}

@media (max-width: map-get($map: base.$puntos, $key: 'small')){
    footer{
        grid-template-rows: auto;
    }
}